<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmLightLibs" version="4.1.23.0" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="reactiveui" version="3.99.3-beta" targetFramework="net40" />
  <package id="reactiveui-core" version="3.99.3-beta" targetFramework="net40" />
  <package id="reactiveui-nlog" version="3.99.3-beta" targetFramework="net40" />
  <package id="reactiveui-testing" version="3.99.3-beta" targetFramework="net40" />
  <package id="reactiveui-xaml" version="3.99.3-beta" targetFramework="net40" />
  <package id="Rx-Core" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Linq" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Main" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-Testing" version="2.0.20823" targetFramework="net40" />
  <package id="Rx-XAML" version="2.0.20823" targetFramework="net40" />
</packages>