name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  productNamespacePrefix: "ReactiveUI"

jobs:
  build:
    uses: reactiveui/actions-common/.github/workflows/workflow-common-setup-and-build.yml@main
    with:
      configuration: Release
      productNamespacePrefix: "ReactiveUI"
      solutionFile: "ReactiveUI.Samples.Windows.sln"
      srcFolder: ""
      performTests: false
      useNBGV: false
      createArtifacts: false
      installWorkflows: true
